  // RESET
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
  }


  // ROOT 
  $white-color: #fff;
  $primary-color: #0056D6;
  $text-color: #6C768D;
  $second-color: #9747ff;


  :root {
    --white-color: #{$white-color};
    --primary-color: #{$primary-color};
    --text-color: #{$text-color};
    --second-color: #{$second-color};
  }

  // COMMON

  .App {
    height: 100vh;
  }

  ul {
    list-style: none;
  }

  .mr-b-24 {
    margin-bottom: 24px;
  }

  .mr-r-60 {
    margin-right: 60px;
  }

  .pb-130 {
    padding-bottom: 130px;
  }

  .mb-170 {
    margin-bottom: 170px;
  }


  .pt-60 {
    padding-top: 60px;
  }


  .align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }




  // GRID
  .grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }

  .grid-row {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-col {
    width: 100%;
  }

  .btn {
    outline: none;
    border: none;
    cursor: pointer;
  }

  .grid-col-4-5 {
    width: 45%;
  }

  .grid-col-5-5 {
    width: 55%;
  }

  .grid-col-6-4 {
    width: 60%;
  }

  .grid-col-4-6 {
    width: 40%;
  }

  .grid-col-2 {
    width: calc(100% / 2);
  }
  .grid-col-3 {
    width: calc(100% / 3);
  }

  .grid-col-4 {
    width: calc(100% / 4);
  }